@model Entities.ToDo


<div class="card">
    <div class="card-header">Tarefas a fazer</div>
    <div class="card-body">
        @using(Html.BeginForm("Editar","Home", FormMethod.Post))
        {
        <div class="form-group">
            <label>Nome da Tarefa</label>
            @Html.TextBoxFor(d=>d.Tarefa, new {@class = "form-control"})
        </div>
        <input type="submit" class="btn btn-success btn-sm" />
        }

    </div>
</div>